<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
        <add key="Nexus" value="https://nexus.infra.digitalskynet.com/repository/nuget-group" />
    </packageSources>
    <packageSourceCredentials>
        <Nexus>
            <add key="Username" value="gitlab" />
            <add key="ClearTextPassword" value="gitlabci" />
        </Nexus>
    </packageSourceCredentials>
</configuration>
